<!-- Bannière principale -->
<div class = "top-banner"> Livraison gratuite à partir de 100€ </div>

<!-- Header principal -->
<div class="header-container">
    <header class="main-header">
        <div class="left-icons">
            <i id = "menu-toggle" class="fas fa-bars"></i>
        </div>
        <div class = "logo">
            <img src="../images/utilities/logo-sesame.png" alt="Logo">
        </div>
        <div class="right-options">
            <span>France | EUR € <i class="fas fa-chevron-down"></i></span>
            <span>Français <i class="fas fa-chevron-down"></i></span>
            <i class="fas fa-search"></i>
            <i class="fas fa-user"></i>
            <i class="fas fa-bag-shopping"></i>
        </div>
    </header>
    <nav class="side-menu" id="sideMenu">
        <ul>
            <li><a href="Accueil.html">Accueil</a></li>
            <li><a href="CollectionSesame.html">⊹ ˚ Collection Sésame ˚ ⊹</a></li>
            <li><a href="Personnalisable.html">-ˋˏ Personnalisable ˎˊ-</a></li>
            <li><a href="#">:*˚ Atelier Sésame ˚*:</a></li>
            <li><a href="LivraisonEtRetours.html">Livraisons et retours</a></li>
            <li><a href="Conditions.html">Conditions d'utilisation</a></li>
            <li><a href="Confidentialite.html">Confidentialité</a></li>
            <li><a href="Contact.html">Contact</a></li>
            <li><a href="Propos.html">À propos</a></li>
            <li><a href="Article.html">Article de blog</a></li>
        </ul>
    </nav>
</div>